@media only screen and (max-width:480px){
    header{
        nav{
            width: 100%;
            display: flex;
            justify-content: end;
            a{
                display: none !important;
            }
            .icono{

                display: flex !important;
            }

        }
    }
}