@media only screen and (max-width:480px){
    header{
        nav{
            width: 100%;
            display: flex;
            justify-content: end;
            a{
                display: none !important;
            }
            .icono{

                display: flex !important;
            }

        }
    }
    main{
        padding: 10rem 2rem;
        flex-direction: column-reverse;
        .contenido{
            width: 100%;
            h1{
                margin-top: 2rem;
                font-size: 36px;
            }
            p{
                width: 100%;
            }
            .redes{
                padding: 1rem;
                display: flex;
                justify-content: center;
                width: 100%;
                img{
                    width: 14%;
                }
            }
        }
        #portada{
            justify-content: center;
        }

    }
}